<% if (typeof errors != "undefined") { %>
<% errors.forEach(function (error) { %>
<%= __(error) %>
<% }) %>
<% } %>
<% if (typeof messages != "undefined") { %>
<% messages.forEach(function (message) { %>
<%= __(message) %>
<% }) %>
<% } %>

<% if (typeof providers != "undefined" && Object.keys(providers).length) { %>
<h4>To login you can also use one of these...</h4>

<% Object.keys(providers).forEach(function (key) { %>
<a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
<% }); %>
<% } %>
